.header {
  z-index: 100;
  position: fixed;
  width: 100%;
}

.wrap-info-header {
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 50px;

  background-color: gray;
}

.authorization_btn {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}