.menu-wrap {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  width: 70px;
  height: 100%;

  background-color: white;

  overflow: hidden;
  transition: .3s;

  border-right: 1px solid rgb(182, 181, 181);
}

.menu-wrap:hover {
  width: 200px;
}

.list-nav {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.menu_btn {
  padding-left: 20px;

  width: 100%;
  height: 50px;

  border: none;

  display: flex;
  align-items: center;
  background-color: white;

  transition: .5s;
}

.menu_btn:hover {
  cursor: pointer;
  background-color: rgb(184, 184, 184);
}

.menu_img {
  width: 30px;
  height: 30px;
}

.text_btn {
  font-size: 15px;
  margin-left: 30px;
}


/* Main */

.back-main {
  z-index: 1;
  background-color: green;
  width: 100%;
  height: calc(100vh - 50px);
}

.name-app {
  position: relative;
  left: 50%;
  top: 50%;
}

/* Game */

.back-game {
  z-index: 1;
  background-color: rgb(199, 230, 171);
  width: 100%;
  height: calc(100vh - 50px);
}



/* Statistics */

.back-statistics {
  z-index: 1;
  background-color: rgb(220, 171, 230);
  width: 100%;
  height: calc(100vh - 50px);
}


/* Team */

.back-team {
  z-index: 1;
  background-color: rgb(230, 211, 171);
  width: 100%;
  height: calc(100vh - 50px);
}



/* Reviews */

.back-reviews {
  z-index: 1;
  background-color: rgb(175, 171, 230);
  width: 100%;
  height: calc(100vh - 50px);
}

 /*  */