.menu-wrap {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  width: 70px;
  height: 100%;

  background-color: white;

  overflow: hidden;
  transition: .3s;

  border-right: 1px solid rgb(182, 181, 181);
}

.menu-wrap:hover {
  width: 200px;
}

.list-nav {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.menu_btn {
  padding-left: 20px;

  width: 100%;
  height: 50px;

  border: none;

  display: flex;
  align-items: center;
  background-color: white;

  transition: .5s;
}

.menu_btn:hover {
  cursor: pointer;
  background-color: rgb(184, 184, 184);
}

.menu_img {
  width: 30px;
  height: 30px;
}

.text_btn {
  font-size: 15px;
  margin-left: 30px;
}


/* Main */

.back-main {
  z-index: 1;
  background: url(.././../../../public/backPicture/mainback.png);
  width: 100%;
  height: calc(100vh - 50px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-app {
  color: white;
  font-size: 50px;
}

.about-app-main {
  color: white;
  padding-top: 50px;
}

.main-wrap-btn {
  padding-top: 50px;
}

.registration_btn,
.about-app_btn {
  color: white;
  margin: 0 10px;
  width: 150px;
  height: 30px;

  background: transparent;

  border: 1px solid white;
  border-radius: 5px;

  box-shadow: 0px 2px 0 white;

  transition: .3s;
}

.registration_btn:hover,
.about-app_btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px white;
}


/* About App */

.back-about-app {
  z-index: 999999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  background-color: rgba(0, 0, 0, 0.5);
}

.about-app-wrap {
  position: relative;
  top: calc(50% - 350px);
  left: calc(50% - 350px);
  width: 700px;
  height: 660px;
  border-radius: 25px;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-app-text-form {
  padding: 40px 0 20px 0;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

.about-app-text-form {
  padding: 10px 0 50px 0;
  text-align: center;
  font-weight: 500;
}

.all-point-app-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.point-app-wrap {
  margin: 10px 15px;
  width: 200px;
  height: 180px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(156, 155, 155);
  border-radius: 25px;
  box-shadow: 1px 2px 3px gray;

  text-align: center;
}

.point-app_img {
  width: 50px;
  height: 50px;
}

.name-app-text {
  padding: 10px;
  font-weight: 600;
}

.team-in-form_btn {
  margin-top: 10px;
  text-align: center;
  height: 30px;
  font-size: 16px;
  border: 1px double rgb(156, 155, 155);;
  min-width: 180px;
  box-shadow: 0px 2px 0px gray;
  border-radius: 10px;
  background-color: white;

  transition: .3s;
}

.team-in-form_btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px gray;
}


/* Game */

.back-game {
  z-index: 1;
  background-color: rgb(199, 230, 171);
  width: 100%;
  height: calc(100vh - 50px);
}



/* Statistics */

.back-statistics {
  z-index: 1;
  background-color: rgb(220, 171, 230);
  width: 100%;
  height: calc(100vh - 50px);
}


/* Team */

.back-team {
  z-index: 1;
  background-color: rgb(230, 211, 171);
  width: 100%;
  height: calc(100vh - 50px);
}



/* Reviews */

.back-reviews {
  z-index: 1;
  background-color: rgb(175, 171, 230);
  width: 100%;
  height: calc(100vh - 50px);
}

 /*  */